.formContainer {
    color: #000; /* Ensures text is black */
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  .formField {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 8px;
  }
  
  .select,
  .input,
  .textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .submitButton {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #45a049;
  }
  .reviewSection {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .reviewTitle {
    margin-bottom: 15px;
  }

.thankYouMessage {
    text-align: center;
    padding: 20px;
  }
  