/* AdminPage.module.css */
.adminContainer {
    padding: 20px;
    min-height: 100vh;
    background-color: rgb(var(--background-start-rgb)); /* Use variable for light mode */
    color: rgb(var(--foreground-rgb)); /* Text color */
  }
  
  .adminNav {
    margin-bottom: 20px;
  }
  
  .navList {
    list-style-type: none;
    padding: 0;
  }
  
  .navItem {
    margin: 10px 0;
    display: inline-block;
    margin-right: 20px;
  }
  
  .navLink {
    text-decoration: none;
    color: inherit; /* Inherits the color from the body */
  }
  
  /* Ensure links are visible on all backgrounds */
  .navLink:hover,
  .navLink:focus {
    color: yellow; /* Choose a color that stands out */
  }
  
  /* Additional styles as needed */
  