.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.actions {
  margin-top: 10px;
}

.button, .backButton {
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.button:last-child {
  margin-right: 0;
}

.comment p {
  color: black;
}

.backButton {
  display: block; /* Makes the button block-level for better positioning */
  margin-bottom: 20px; /* Adds space below the button */
  background-color: #ddd; /* Different background color to distinguish it */
  color: black; /* Text color */
  font-weight: bold; /* Makes the text bold */
}
