.container {
  padding: 20px;
  color: black;
}

.container h1 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin: auto;
  max-width: 400px;
  margin-bottom: 15px;
}

.inputGroup label {
  font-weight: bold;
  margin-right: 10px;
}

.inputGroup input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 100%;
  outline: none;
}

.inputGroup input:focus {
  border-color: #0046BE;
}

.button {
  padding: 12px 0;
  background-color: #0046BE;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.button:hover {
  background-color: #F27024;
}

.dropdown {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  width: 100%;
  text-align: left;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.dropdown:hover {
  background-color: #0056b3;
}

.list.hidden {
  display: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px;
  background-color: #f8f8f8;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.edit, .delete {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

.edit {
  background-color: #28a745;
}

.edit:hover {
  background-color: #218838;
}

.delete {
  background-color: #dc3545;
}

.delete:hover {
  background-color: #c82333;
}
