.footer {
    background-color: #f0f0f0; /* Light grey background for the main footer */
    padding: 20px;
    color: #333; /* Dark grey text for contrast */
}

.contactSection,
.locations {
    margin-bottom: 20px;
}

.contactSection h2, .locations h3 {
    font-weight: bold;
    color: #333; /* Dark grey text for better readability */
}

.socialLinks {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.socialLinks a {
    color: #333; /* Ensuring the social links are also dark grey */
    text-decoration: none;
}

.couponImage {
    margin-bottom: 20px;
}

.locations {
    display: flex;
    flex-direction: column; /* Stack locations vertically */
    gap: 20px; /* Add space between locations */
}

.location {
    /* If you need specific styles for locations, add them here */
}

.footerBottom {
    background-color: #0046BE; /* Blue rectangle */
    color: #fff; /* White text for contrast */
    text-align: center;
    padding: 20px 0; /* Padding top and bottom, 0 left and right */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerBottom img {
    max-width: 60px; /* Smaller logo */
    margin-right: 15px; /* Space between logo and text */
}

.footerBottom p {
    font-size: 0.9rem; /* Smaller copyright text */
    margin: 0; /* Removing default margins */
}
