.header {
    background-color: #0046BE;
    color: #fff;
    padding: 1rem;
  }

.navList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0%;
    margin: 0%;
  }

.navItem {
    margin: 0%;
    margin-top: auto;
    font-weight: 600;
  }

.navItem a:hover {
  color: #F27024;
}
.navItem a {
  display: flex;
  align-items: center; /* Ensure text and icon are aligned */
  justify-content: space-between;
}
.navLink {
    color: #fff;
    font-weight: bold;
    padding: 0.5rem;
    transition: color 0.3s ease;
  }


  .image {
    width: auto;
    height: 60px;
    min-width: 60px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navList{
    flex-direction: column;
    align-items: center;
  }
  .navLink{
    padding: 0.5rem 1rem;
  }
}
.dropdown {
  position: absolute;
  background-color: #0046BE;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1000;
}

.dropdownItem {
  padding: 5px 0;
}

.dropdownItem a {
  z-index: 1;
  color: white; 
  text-decoration: none;
}

.dropdownItem a:hover {
  color: #F27024; 
}

.mobileMenuIcon {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .mobileMenuIcon {
    display: block; 
    position:absolute;
    right: 50px;
    top: 35px;
  }

  .navList {
    display: none;
    padding: 25px;
  }

  .navList.mobileVisible {
    display: block; /* Show nav list when mobile menu is visible */
    position: absolute;
    background-color: #0046BE;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    width: 100%;
    z-index: 1000;
  }

  .navItem {
    display: block; /* Stack nav items vertically */
    margin: 15px;
  }
}
