.header {
    background-color: #0046BE;
    color: #fff;
    padding: 1rem;
  }

.navList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0%;
    margin: 0%;
  }

.navItem {
    margin: 0%;
  }

.navLink {
    color: #fff;
    font-weight: bold;
    padding: 0.5rem;
    transition: color 0.3s ease;
  }

  .image {
    width: auto;
    height: 60px;
    min-width: 60px; /* Adjust as needed */
}







  .navLink:hover {
    color: #FFD700;
  }
