.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
.header {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #0046BE;
    text-align: center;
}
.descriptionBox {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.description {
    margin-bottom: 10px;
    text-align: center;
}
.deviceSelection {
    padding-right: 20px;
    flex: 1;
}
.displayPrice {
    padding-left: 20px;
    flex: 1;
    text-align: center;
}

/* Responsive Design */

@media screen and (max-width: 768px){
    .descriptionBox{
        padding: 15px;
    }
}