.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h1,
.priceInfo h3 {
  color: #0046be;
  font-weight: bold;
}

.header,
.description,
.deviceSelection,
.displayPrice {
  text-align: center;
  margin-bottom: 20px;
  color: black; /* Text color for content */
}

.select,
.priceInfo {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  background-color: white;
  width: 100%;
}

.select:hover {
  border-color: #007bff;
}

.priceInfo {
  background-color: #e6e6e6;
  box-shadow: inset 0 0 10px #ccc;
}
